
<div class='content-wrapper' ng-controller="complaintTypeCtrl" ng-init="app.settings.pagetitle = 'Complaint Types'; getComplaintTypes();">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Complaint Types</h2>
            </header>
            <div ng-class="{'text-success': successMsg1, 'text-danger': validationError1}" class="col-lg-8 col-md-8 col-sm-9 col-xs-12 wrapper" ng-show="validationError1 || successMsg1">
            </div>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="col-lg-4" >
                                <md-input-container style="width:100%">
                                <label>Search</label>
                                <input ng-model="search" my-enter="getComplaintTypes()">
                                </md-input-container>                       
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:12px;padding-left:0px;">
                              <button class="btn btn-info sizeadBtn" ng-click="getComplaintTypes()">SEARCH</button>
                        </div>
                         <div class="col-lg-2 pull-right">
                              <button class="btn btn-info sizeadBtn" ng-click="complaintTypeModal('')">ADD</button>
                         </div>
                    </div>
                </div>
                <p ng-show="successMsg1">{{successMsg1}}</p>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <table class="table user-list table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><span>Type</span></th>
                                    <!--<th><span>Status</span></th>-->
                                    <th>ACTIon</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in complanintTypes">
                                    <td style="text-transform: capitalize;">{{property.complaint_type}}</td>
                                    <!--<td style="text-transform: capitalize;">{{property.status}}</td>-->
                                    <td style="width: 20%;">
                                         
                                        <a ng-click="complaintTypeModal(property)" class="table-link">
                                        
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="javascript:void(0)" ng-click="deleteCmpType(property)" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                        <p ng-show="validationError1">{{validationError1}}</p>
 

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                                <!-- <uib-pagination total-items="totDoctors" ng-model="curPage"></uib-pagination> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
