
<div class='content-wrapper' ng-controller="PropertiesCtrl" ng-init="app.settings.pagetitle = 'Property Management'; getPropertyLists();getpropertyTypes();">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Property Lists</h2>
            </header>
            <div ng-class="{'text-success': successMsg1, 'text-danger': validationError1}" class="col-lg-8 col-md-8 col-sm-9 col-xs-12 wrapper" ng-show="validationError1 || successMsg1">
            </div>



            
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="col-lg-4 col-md-4" style="padding-right:0px;">
                                <md-input-container style="width:100%">
                                    <label>Search</label>
                                    <input ng-model="search" my-enter="getPropertyLists()" >
                                </md-input-container>                       
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:18px;padding-left:0px;">
                            <select class="form-control" ng-model="search_type" ng-change="getSubPropertyTypes(search_type);" >
                                <option value="">Select Type</option>
                                <option ng-repeat="prop in 
                                propertyTypes" value="{{prop.property_type_id}}">{{prop.type_name}}</option>
                            </select>  
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:18px;padding-left:0px;">
                            <select class="form-control" ng-model="search_subtype">
                                <option value="">Select SubType</option>
                                <option ng-repeat="prop in 
                                subPropertyTypes" value="{{prop.property_subtype_id}}">{{prop.subtype_name}}</option>
                            </select>  
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:12px;padding-left:0px;">
                              <button class="btn btn-info sizeadBtn" ng-click="getPropertyLists()">SEARCH</button>
                        </div>

                        <div class="col-lg-2 col-md-2 pull-right" style="padding-top:12px;padding-left:0px;">
                            <button class="btn btn-info sizeadBtn" ng-click="addNewProperty()">ADD</button>
                       </div>
                        <!--<div class="col-lg-2 col-md-2 pull-right" style="padding-top:12px;">
                            <button class="btn btn-info sizeadBtn" ui-sref="app.propertyDetails()">ADD</button>
                        </div>-->
                    </div>
                </div>
                <p ng-show="successMsg1">{{successMsg1}}</p>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <table class="table user-list table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><span>Property Name</span></th>
                                    <th><span>Type</span></th>
                                    <th><span>Sub Type</span></th>
                                    <th><span>Address</span></th>
                                    <th><span>Tenant Name</span></th>
                                    <!--<th><span>State</span></th>
                                    <th><span>Zipcode</span></th>-->
                                    <th>ACTIon</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in property_list">
                                    <td style="text-transform: capitalize;">{{property.property_name}}</td>
                                    <td style="text-transform: capitalize;">{{property.type_name}}</td>
                                    <td style="text-transform: capitalize;">{{property.subtype_name}}</td>
                                    <td style="text-transform: capitalize;">{{property.address}}</td>
                                    <td style="text-transform: capitalize;">{{property.first_name}} {{property.last_name}} </td>
                                    <!--<td style="text-transform: capitalize;">{{property.state}}</td>
                                    <td style="text-transform: capitalize;">{{property.zipcode}}</td>-->
                                    
                                     <!--<td> <span ng-show="property.is_published=='Y'"> Yes
                                            </span>
                                            <span ng-show="property.is_published=='N'"> No
                                            </span>
                                         
                                         </td>-->
                                    
                                    
                                    <td style="width: 20%;">
                                         
                                        <a ui-sref="app.propertyDetails({ property_id: property.property_id})" class="table-link">
                                        
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="javascript:void(0)" ng-click="deleteProperty(property)" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                        <p ng-show="validationError1">{{validationError1}}</p>
 

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                                <!-- <uib-pagination total-items="totDoctors" ng-model="curPage"></uib-pagination> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
