
<div class='content-wrapper' ng-controller="RequestsCtrl" ng-init="app.settings.pagetitle = 'Request Management'; getRequestLists();getComplaintTypes();">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Request Management</h2>
            </header>
            <div ng-class="{'text-success': successMsg1, 'text-danger': validationError1}" class="col-lg-8 col-md-8 col-sm-9 col-xs-12 wrapper" ng-show="validationError1 || successMsg1">
            </div>



            
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="col-lg-4 col-md-4" style="padding-right:0px;">
                                <md-input-container style="width:100%">
                                    <label>Search</label>
                                    <input ng-model="search" my-enter="getRequestLists()">
                                </md-input-container>                       
                        </div>
                        <div class="col-lg-3 col-md-3" style="padding-top:18px;padding-left:0px;">
                            <select class="form-control" ng-model="search_type" ng-change="getRequestLists();" >
                                <option value="">Select Type</option>
                                <option ng-repeat="prop in 
                                complaintTypes" value="{{prop.type_id}}">{{prop.complaint_type}}</option>
                            </select>  
                        </div>
                        <div class="col-lg-3 col-md-3" style="padding-top:18px;padding-left:0px;">
                            <select class="form-control" ng-model="search_status" ng-change="getRequestLists();" >
                                <option value="">Select Status</option>
                                <option value="invoice_waiting">New Request</option>
                                <option value="invoice_send">Pending Payment</option>
                                <option value="accepted">Assign Staff</option>
                                <option value="inprogress">Inprogress</option>
                                <option value="reassigned">Reassign Requests</option>
                                <option value="completed">Completed</option>
                            </select>  
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:12px;padding-left:0px;">
                              <button class="btn btn-info sizeadBtn" ng-click="getRequestLists()">SEARCH</button>
                        </div>

                        
                        <!--<div class="col-lg-2 col-md-2 pull-right" style="padding-top:12px;">
                            <button class="btn btn-info sizeadBtn" ui-sref="app.propertyDetails()">ADD</button>
                        </div>-->
                    </div>
                </div>
                <p ng-show="successMsg1">{{successMsg1}}</p>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <table class="table user-list table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><span>Property Name</span></th>
                                    <th><span>User Name</span></th>
                                    <th><span>Complaint Type</span></th>
                                    <th><span>Request Date</span></th>
                                    <th><span>Status</span></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in request_list">
                                    <td style="text-transform: capitalize;">{{property.property_name}} </td> 
                                    <td style="text-transform: capitalize;">{{property.first_name}} {{property.last_name}}</td>
                                    <td style="text-transform: capitalize;">{{property.complaint_type}}</td>
                                    <td style="text-transform: capitalize;">{{property.request_date}}</td>
                                    <td style="text-transform: capitalize;">
                                            <span ng-if="property.status == 'invoice_waiting'">New Request</span>
                                            <span ng-if="property.status == 'invoice_send' && property.pending != '1'">Pending Payment</span>
                                            <span ng-if="property.status == 'accepted'">Assign Staff</span>
                                            <span ng-if="property.status == 'reassigned'">Reassign Request</span>
                                            <span ng-if="property.status == 'pending'">Pending</span>
                                            <!-- <span ng-if="property.status == 'pending_payment' && property.pending != '1'">Pending Payment</span> -->
                                            <span ng-if="property.status == 'inprogress'">Inprogress</span>
                                            <span ng-if="property.status == 'completed'">Completed</span>
                                            <span ng-if="property.status == 'pending_payment' && property.pending == 1">Partially Paid</span>
                                            <span ng-if="property.status == 'invoice_send' && property.pending == '1'">Partially Paid</span>

                                        </td>
                                    <td style="width: 20%;">
                                        <a href="#/app/request_details/{{property.request_id}}" class="btn btn-info sizeadBtn">
                                       DETAILS
                                        </a>
                                        <!--<span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                        </span>-->

                                        <!--<a ui-sref="app.propertyDetails({ property_id: property.property_id})" class="table-link">
                                        
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="javascript:void(0)" ng-click="deleteProperty(property)" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>-->
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                        <p ng-show="validationError1">{{validationError1}}</p>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">


                                    <!--<uib-pagination total-items="listcount" ng-model="currentPage" items-per-page="5" ng-change="pageChanged()">
                                        
                                    </uib-pagination>-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
