<div class='content-wrapper' ng-controller="ChatCtrl" ng-init="getTest();getGroups();">
    <div class="col-lg-12">

        <hr>





        <div class="content-body">
            <div class="col-lg-3 pull-right">
                <button class="btn btn-info sizeadBtn" ng-click="newGroupChatModal()">Create New Group</button>
            </div>
            <hr>
            <div class="row">
                <table class="table user-list table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span>Groups</span>
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="category in groups">

                            <td style="text-transform: capitalize;">{{category.group_name}} </td>
                            <td style="width: 30%;">
                                <a ng-click="newGroupChatModal(category.group_name ,category.group_id )" class="table-link">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" ng-click="deleteGroup(category.group_id , $index)" class="table-link danger">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" ng-click="setGroupMembers(category.group_id)" class="table-link danger">
                                    <input type="button" class="btn" style="padding:0px 10px 0px 10px;background:#bb1d2c;color:#FFFFFF" value="Add Members">
                                </a>
                                <a href="#/app/chatdetails/{{category.group_id}}" class="table-link danger">
                                    <input type="button" class="btn" style="padding:0px 10px 0px 10px;background:#bb1d2c;color:#FFFFFF" value="Chat">
                                </a>

                            </td>
                        </tr>
                        <tr ng-if="categories.length == 0">
                            <td colspan=2>No Records Found</td>
                        </tr>

                    </tbody>
                </table>
                <p ng-show="validationError1">{{validationError1}}</p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                    </div>
                </div>
            </div>


        </div>



    </div>
</div>
<style>
    .md-select-value {
        padding: 8px;
    }
</style>