<!-- list -->
<ul class="wraplist wrapper-menu">


    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="material-icons">domain</i>
            <span class="title">Dashboard</span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.workouts">
            <i class="material-icons">apps</i>
            <span class="title">Workout Plan Management</span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.users">
            <i class="material-icons">group</i>
            <span class="title">User Management</span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.category">
            <i class="material-icons">add_circle_outline</i>
            <span class="title">Category Management </span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.subcategory">
            <i class="material-icons">add_circle_outline</i>
            <span class="title">Sub Category Management </span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.chatroom">
            <i class="material-icons">add_circle_outline</i>
            <span class="title">Chat Room Management </span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.subscriptions">
            <i class="material-icons">attach_money</i>
            <span class="title">User Subscriptions </span>
        </a>
    </li>

   
    <!-- <li href class="auto" ui-sref-active="active">
        <a ui-sref="app.emailtemplate">
            <i class="material-icons">content_copy</i>
            <span class="title">Email Templates</span>
        </a>
    </li> -->

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.chatroom">
            <i class="material-icons">content_copy</i>
            <span class="title">CMS</span>
        </a>
    </li>

    <li href class="auto pad10" ui-sref-active="active">
        <a ui-sref="app.settings">
            <i class="material-icons">settings</i>
            <span class="title">Settings</span>
        </a>
    </li>

   




</ul>
<!-- / list -->